# dependencies
node_modules
.pnp
.pnp.js

# build
.next
out
build
dist

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea
.vscode

# os
.DS_Store
Thumbs.db

# supabase
.branches
.temp

# misc
*.tsbuildinfo
next-env.d.ts
